$basefont1: 'Bree Serif', serif;
$basefont2: 'Open Sans', sans-serif;

$dkblue: #0F8790;
$mdblue: #43B9C6;
$ltblue: #ACDEE6;
$ltpurple: #B5A3CF;
$dkpurple: #48396D;
$ltgrey: #f1f3f3;
$dkgrey: #1d1d1d;
$textgrey: #5d5e5d;


@mixin titleStyles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $basefont1;
    letter-spacing: 1px;
    text-align: center;
}
@mixin paragraphStyles($sizeValue) {
    font-size: $sizeValue * 1px;
    font-size: ($sizeValue/10) * 1rem;
    font-family: $basefont2;
    text-align: center;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
}

.section__h1 {
    @include titleStyles(72);
    color: white;
}
.section__h2 {
    @include titleStyles(45);
    &--purple {
        color: $dkpurple;
        font-weight: 400;
    }
}
.section__h3 {
    @include titleStyles(34);
    &--white {
        color: white;
        font-weight: 400;
    }
    &--purple {
        color: $dkpurple;
        font-weight: 400;
    }
}
.section__h4 {
    @include titleStyles(22);
    &--white {
        color: white;
    }
    &--left {
        text-align: left;
    }
}
.section__p {
    @include paragraphStyles(16);
    &--left {
        text-align: left;
    }
    &--white {
        color: white;
    }
    &--purple {
        color: $dkpurple;
        padding: 0 20px;
    }
}
.section__list {
    @include paragraphStyles(16);
}
.section__icon {
    &--white {
        color: white;
    }
}
.section__a {
    @include paragraphStyles(16);
    text-decoration: none;
    text-align: left;
    &:visited {
        color: white;
    }
    &:hover {
        color: $ltblue;
    }
    &--white {
        color: white;
    }
}

.footer__copyright {
    @include paragraphStyles(16);
    color: white;
    text-align: center;
}

