@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem; }

.section__h1 {
  font-size: 72px;
  font-size: 7.2rem;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  text-align: center;
  color: white; }

.section__h2 {
  font-size: 45px;
  font-size: 4.5rem;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  text-align: center; }
  .section__h2--purple {
    color: #48396D;
    font-weight: 400; }

.section__h3 {
  font-size: 34px;
  font-size: 3.4rem;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  text-align: center; }
  .section__h3--white {
    color: white;
    font-weight: 400; }
  .section__h3--purple {
    color: #48396D;
    font-weight: 400; }

.section__h4 {
  font-size: 22px;
  font-size: 2.2rem;
  font-family: "Bree Serif", serif;
  letter-spacing: 1px;
  text-align: center; }
  .section__h4--white {
    color: white; }
  .section__h4--left {
    text-align: left; }

.section__p {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center; }
  .section__p--left {
    text-align: left; }
  .section__p--white {
    color: white; }
  .section__p--purple {
    color: #48396D;
    padding: 0 20px; }

.section__list {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center; }

.section__icon--white {
  color: white; }

.section__a {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-decoration: none;
  text-align: left; }
  .section__a:visited {
    color: white; }
  .section__a:hover {
    color: #ACDEE6; }
  .section__a--white {
    color: white; }

.footer__copyright {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: white;
  text-align: center; }

body {
  max-width: 1650px; }

img {
  width: 100%;
  display: block; }

.wrapper {
  width: 80%;
  margin: 0 auto; }

.section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.section__list {
  list-style-type: none;
  padding: 25px; }
  .section__list--check::before {
    content: '✓';
    padding-right: 5px;
    color: #0F8790; }

.section__icon--white {
  padding-right: 15px;
  color: white; }

.section__a {
  padding-top: 15px;
  display: block; }

header {
  background-color: #43B9C6; }
  header .logo {
    height: 60px;
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .logo img {
      width: 22%; }
  header .hero {
    padding: 3% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    header .hero .call-to-action {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; }
      header .hero .call-to-action .box {
        width: 40%;
        margin: 10px;
        padding: 2%;
        background-color: #B5A3CF;
        border: 1px solid #48396D;
        border-radius: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        header .hero .call-to-action .box span {
          font-family: "Bree Serif", serif;
          font-size: 18px; }

.section__form img {
  padding-top: 10px; }

.parent-form form {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .parent-form form .full-name, .parent-form form .email, .parent-form form .photo, .parent-form form .phone {
    width: 45%;
    padding: 2%;
    margin: 5px 0;
    border: 1px solid #B5A3CF;
    color: purple; }
  .parent-form form .daycare {
    margin-top: 30px; }
  .parent-form form .button {
    width: 200px;
    padding: 2%;
    margin: 5px 0 20px 0;
    border: 1px solid #48396D;
    background-color: #B5A3CF;
    color: #48396D;
    font-size: 18px;
    font-family: "Bree Serif", serif;
    -webkit-box-shadow: 1px 1px 3px #f1f3f3;
    box-shadow: 1px 1px 3px #f1f3f3;
    text-decoration: none; }

.how-does-it-work .section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.how-does-it-work .section__block {
  width: 32%;
  margin: 50px 0;
  border: 1px solid #ACDEE6;
  border-radius: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .how-does-it-work .section__block:hover {
    background-color: #43B9C6;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .how-does-it-work .section__block:hover img {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05); }

.footer {
  background-color: #5d5e5d;
  padding-top: 25px; }
  .footer .footer-top {
    border-bottom: 1px solid #5d5e5d;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .footer .footer-top__column {
      width: 50%; }
  .footer .footer-bottom img {
    width: 20%;
    margin: 0 auto;
    padding-top: 2%; }
  .footer__copyright {
    padding: 15px 0; }

.footer__list {
  padding-top: 10px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .footer__list--grid {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .footer__list--spacing {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__list .footer__li {
    width: 23%;
    padding-top: 8px; }

@media (max-width: 1100px) {
  .gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gallery .gallery__cell {
      width: 50%; } }

@media (max-width: 850px) {
  .whyChooseUs {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .whyChooseUs .sectionFullBleed__content,
    .whyChooseUs .sectionFullBleed__image {
      width: 100%; }
    .whyChooseUs .section__h2--indent {
      padding: 50px 0 0;
      text-align: center; }
  .servicesOne .section__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .servicesOne .section__block {
    width: calc(50% - 20px);
    margin: 10px; }
  .section__form--emailLarge .email {
    width: 370px;
    margin: 35px 0 20px 0;
    padding: 10px 0; } }

@media (max-width: 800px) {
  .wrapper {
    width: 90%; }
  .section__grid {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .section__grid--bottom {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
    .section__grid .section__content {
      padding: 0 10px;
      position: relative; }
    .section__grid .section__content, .section__grid .section__image {
      width: 100%; }
  .footer .footerTop {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer .footerTop__column {
      width: 100%; } }

@media (max-width: 550px) {
  .wrapper {
    width: 90%; }
  .section__h1 {
    font-size: 70px;
    font-size: 7rem;
    font-family: "Bree Serif", serif;
    letter-spacing: 1px;
    text-align: center; }
  .hero {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .servicesOne .section__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .servicesOne .section__block {
    width: 100%; }
  .gallery {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .gallery .gallery__cell {
      width: 100%; } }

@media (max-width: 400px) {
  .section__h1 {
    font-size: 60px;
    font-size: 6rem;
    font-family: "Bree Serif", serif;
    letter-spacing: 1px;
    text-align: center; } }
