@import "setup.scss";
@import "typography.scss";

$dkblue: #0F8790;
$mdblue: #43B9C6;
$ltblue: #ACDEE6;
$ltpurple: #B5A3CF;
$dkpurple: #48396D;
$ltyellow: #FEED7F;
$mdyellow: #FFC32F;
$ltgrey: #f1f3f3;
$dkgrey: #1d1d1d;
$textgrey: #5d5e5d;

body {
    max-width: 1650px;
}
img {
    width: 100%;
    display: block;
}
.wrapper {
    width: 80%;
    margin: 0 auto;
}

// ---- COMMON STYLES ---- //
.section {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list {
        list-style-type: none;
        padding: 25px;
        &--check::before {
            content: '✓';
            padding-right: 5px;
            color: $dkblue;
        }
    }
    &__icon--white {
        padding-right: 15px;
        color: white;
    }
    &__a {
        padding-top: 15px;
        display: block;
    }
}

// ---- HEADER ---- //
header {
    background-color: $mdblue;
    .logo {
        height: 60px;
        width: 100%;
        background-color: white;
        display: flex;
        justify-content: left;
        align-items: center;
        img {
            width: 22%;
        }
    }
    .hero {
        padding: 3% 0;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        .call-to-action {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            .box {
                width: 40%;
                margin: 10px;
                padding: 2%;
                background-color: $ltpurple;
                border: 1px solid $dkpurple;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                span {
                    font-family: $basefont1;
                    font-size: 18px;
                }
            }
        }
    }
}
// ---- FORM ---- //
.section__form img {
    padding-top: 10px;
}
.parent-form form {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    .full-name, .email, .photo, .phone {
        width: 45%;
        padding: 2%;
        margin: 5px 0;
        border: 1px solid $ltpurple;
        color: purple;
    }
    .daycare {
        margin-top: 30px;
    }
    .button {
        width: 200px;
        padding: 2%;
        margin: 5px 0 20px 0;
        border: 1px solid $dkpurple;
        background-color: $ltpurple;
        color: $dkpurple;
        font-size: 18px;
        font-family: $basefont1;
        box-shadow: 1px 1px 3px $ltgrey;
        text-decoration: none;
    }
}


// ---- HOW DOES IT WORK ---- //
.how-does-it-work {
    .section__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .section__block {
        width: 32%;
        margin: 50px 0;
        border: 1px solid $ltblue;
        border-radius: 15px;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all .2s ease-in-out;
        &:hover {
            background-color: $mdblue;
            transition: all .2s ease-in-out;
            img {
                transform: scale(1.05); 
            }
        }
    }
}


// ---- FOOTER ---- //
.footer {
    background-color: $textgrey;
    padding-top: 25px;
    .footer-top {
        border-bottom: 1px solid $textgrey;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__column {
            width: 50%;
        }
    }
    .footer-bottom {
        img {
            width: 20%;
            margin: 0 auto;
            padding-top: 2%;
        }
    }
    &__copyright {
        padding: 15px 0;
    }
}
.footer__list {
    padding-top: 10px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &--grid {
        justify-content: space-between;
    }
    &--spacing {
        justify-content: center;
    }
    .footer__li {
        width: 23%;
        padding-top: 8px;
    }
    // .footer__link {
    //     padding: 0 10px;
    // }
}

///////////////////////////
//  ---- RESPONSIVE ---- //

@media (max-width: 1100px) {
    .gallery {
        flex-wrap: wrap;
        .gallery__cell {
            width: 50%;
        }
    }
}

@media (max-width: 850px) {
    // WHY CHOOSE US
    .whyChooseUs {
        flex-wrap: wrap;
        .sectionFullBleed__content,
        .sectionFullBleed__image {
            width: 100%;
        }
        .section__h2--indent {
            padding: 50px 0 0;
            text-align: center;
        }
    }
    // SERVICES ONE
    .servicesOne {
        .section__content {
            flex-wrap: wrap;
            justify-content: center;

        }
        .section__block {
            width: calc(50% - 20px);
            margin: 10px;
        }
    }
    // ASK A QUESTION
    .section__form--emailLarge {
        .email {
            width: 370px;
            margin: 35px 0 20px 0;
            padding: 10px 0;
        }
    }
}

@media (max-width: 800px) {
    .wrapper {
        width: 90%;
    }
    .section__grid {
        flex-wrap: wrap;
        &--bottom {
            flex-direction: row;
        }
        .section__content {
            padding: 0 10px;
            position: relative;
        }
        .section__content, .section__image {
            width: 100%;
        }
    }

    // FOOTER
    .footer {
        .footerTop {
            flex-wrap: wrap;
            &__column {
                width: 100%;
            }
        }
    }
}

@media (max-width: 550px) {
    .wrapper {
        width: 90%;
    }
    .section__h1 {
        @include titleStyles(70);
    }
    .hero {
        align-items: center;
    }
    // SERVICES ONE
    .servicesOne {
        .section__content {
            flex-wrap: wrap;
        }
        .section__block {
            width: 100%;
        }
    }
    // GALLERY
    .gallery {
        flex-wrap: wrap;
        .gallery__cell {
            width: 100%;
        }
    }
}
@media (max-width: 400px) {
    .section__h1 {
        @include titleStyles(60);
    }
}